#toy1 {
    text-align: center;
    margin-right: 305px;
}
#toy2 {
    text-align: center;
    margin-left: 300px;
}
#toy2 a {
    text-decoration: none;
}
#toy3 {
    text-align: center;
    margin-top: 9px;
}
#toy4 {
    text-align: center;
    margin-top: 10px;
}
#toy4 input {
    text-align: end;
    border: 1px solid blanchedalmond;
    width: 350px;
    border-radius: 5px;
}
#toy5 {
    text-align: center;
    margin-top: 10px;
}
#toy5 a {
    text-decoration: none;
    color: darkgreen;
}
#toy6 {
    text-align: center;
    margin: 8px;
}
#toy6 a {
    text-decoration: none;
    color: darkgreen;
    color: darkgreen;
}
#toy7 {
    text-align: center;
    margin-top: 10px;
}
#toy7 a {
    text-decoration: none;
    color: darkgreen;
}
#toy8 {
    text-align: center;
    margin-top: 6px;
    margin-left: 50px;
}
#toy8 a {
    text-decoration: none;
    color: darkgreen;
}
#toy9 {
    border: 1px solid bisque;
    width: 385px;
    margin: auto;
    
    margin-top: 5px;
    padding: 2px;
    border-radius: 20px;
    background-color: wheat

    
}
.toy10 {
    border: 1px solid lawngreen;
    border-radius: 35px;
    background-color: rgba(150, 199, 195, 0.603)

    }
    #toy11 {
        text-align: center;
        margin-left: 290px;
    } {
        w
    }