* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", 
    "Arial Narrow", Arial, sans-serif;
  }
  
  body {
    background-color: gainsboro;
  }
  
  .container {
  
    height: 400px;
    max-width: 600px;
    display: flex;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image_box {
  
    height: 100%;
    width: 50%;
    position: relative;
  }
  .info {
    background-color: white;
    font-size: 15px;
    text-align: center;
    height: 100%;
    word-wrap:normal;
    word-spacing: 5px;
    padding: 0;
    border:none;
    width: 50%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  
  .cart_btn {
    margin-top: 20px;
    color: white;
    background-color: darkcyan;
    width: 80%;
    padding: 5%;
    border: none;
    border-radius: 10px;
    bottom: 0;
  }
  .content {
    margin-top: 5%;
    border:none;
    margin-left: 10%;
  }
  
  .cart_btn:hover {
    background-color: darkgreen;
  }
  
  p {
    font-weight: bold;
    color: grey;
  }
  
  .para {
    font-size: 15px;
    border:none;
    margin-top: 5%;
  }
  .bottom {
    margin-top: 10%;
    border:none;
    position: relative;
    bottom: 0px;
  }
  
  h1{ 
  text-align:left;}