h2 {
    color: #1877f2;
    font-size: 48px;
    text-align: center;
}

.container {
    border: 1px solid black;
    background: #f0f2f5;
    /* width: 400px; */
    height: 100vh;
}

form {
    /* text-align: center; */
    /* border: 1px solid red; */
    width: 400px;
    margin: auto;
    height: 400px;
    background: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}

form p {
    text-align: center;
    font-size: 20px;
}

form input {
    padding: 16px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

 .email {
    margin-left: 20px;
}

.password {
    margin-left: 20px;
}

.submit {
    margin-left: 20px;
    width: 358px;
    margin-bottom: 10px;
    background:#1877f2;
    border: none;
    border-radius: 10px;
}

form a {
    margin-left: 150px;
}

form span {
    margin-left: 200px ;
}

form button {
    padding: 16px;
    width: 40%;
    
    margin-top: 10px;
    margin-left: 120px;
    background: #42b72a;
    border: none;
    border-radius: 10px;
}
