h1 {
    background-color : blue;
   }

   body {
       background: red;
   }

   a{
       background: white;
       color: green;
   }

    .green {
        background-color: green;
    }

    #white {
        background: white;
    }